body{
    background: #0c1a29;
}

nav{
    background: #120D16;

}

.navbar-brand{
    font-size : 250%;
    color: #999999;
}
.container{
    margin-top: 1%;
    margin-bottom: 1%;
}
.nav-link{
    padding-left: 20%;
}
