{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans ce blog</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Aliquam luctus tincidunt sapien, non efficitur ipsum luctus quis.
    Maecenas non volutpat urna. Integer neque tortor, porta id dictum non, ultricies eu.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Donec ut imperdiet sem. Curabitur diam ante, luctus sit amet faucibus eu, vulputate convallis magna.
    Vestibulum tristique quam ligula, id venenatis mi.
</p>
{% endblock %}