{% extends 'base.html.twig' %}

{% block title %}Homepage !{% endblock %}

{% block body %}

    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" >Parcourir</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Tous les jeux</a>
                        <a class="dropdown-item" href="#">Gratuit</a>
                        <a class="dropdown-item" href="#">Pas Gratuit</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Genres</h6>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Aventure</a>
                        <a class="dropdown-item" href="#">Course</a>
                        <a class="dropdown-item" href="#">Indépendant</a>
                        <a class="dropdown-item" href="#">RPG</a>
                        <a class="dropdown-item" href="#">Massivement Multijoueur</a>
                        <a class="dropdown-item" href="#">Simulation</a>
                        <a class="dropdown-item" href="#">Sport</a>
                        <a class="dropdown-item" href="#">Stratégie</a>

                    </div>
                </li>

            </ul>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>
    </div>
    <div class="games">
        <div class="row justify-content-around">
            <div class="jumbotron col-4">

            </div>
            <div class="jumbotron col-4">

            </div>
        </div>
        <br><div class="row justify-content-around">
            <div class="jumbotron col-4">

            </div>
            <div class="jumbotron col-4">

            </div>
        </div>
        <br><div class="row justify-content-around">
            <div class="jumbotron col-4">

            </div>
            <div class="jumbotron col-4">

            </div>
        </div>
        <br><div class="row justify-content-around">
            <div class="jumbotron col-4">

            </div>
            <div class="jumbotron col-4">

            </div>
        </div>
    </div>
{% endblock %}



