{% extends 'base.html.twig' %}

{% block title %}Homepage !{% endblock %}

{% block body %}

    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"  role="button">Parcourir</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Gratuit</a>
                        <a class="dropdown-item" href="#">Co-op</a>
                        <a class="dropdown-item" href="#">Oui</a>
                        <a class="dropdown-item" href="#">Oui</a>
                        <a class="dropdown-item" href="#">Oui</a>
                        <a class="dropdown-item" href="#">Oui</a>
                        <a class="dropdown-item" href="#">Oui</a>
                        <a class="dropdown-item" href="#">Oui</a>
                        <a class="dropdown-item" href="#">Oui</a>
                        <a class="dropdown-item" href="#">Oui</a>

                    </div>
                </li>
                <li class="nav-item"><a class="nav-link " href="#">Ouais</a></li>
                <li class="nav-item"><a class="nav-link " href="#">xd</a></li>
            </ul>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>
    </div>
{% endblock %}



